.description {
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  &__text {
    max-width: 600px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.053em;
    color: #000;
    margin: 91px 15px 80px 36px;

    @media screen and (@breakpoint-xxl) {
      line-height: 24px;
      margin-top: 60px;
      margin-bottom: 60px;
    }

    @media screen and (@breakpoint-xl) {
      font-size: 17px;
      letter-spacing: normal;
    }

    @media screen and (@breakpoint-lg) {
      margin-top: 30px;
      margin-bottom: 30px;
      font-size: 15px;
    }

    @media screen and (@breakpoint-md) {
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 12px;
      line-height: 20px;
    }

    @media screen and (@breakpoint-sm) {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}
