.description {
  border-bottom: 1px solid #C4C4C4;
  margin-top: 91px;
  padding-bottom: 80px;
  max-width: 741px;

  &__text {
    max-width: 600px;
    font-size: 24px;
    line-height: 1.5;
    color: #000;
    margin: 0 0 24px 36px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
