.description {
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  &__text {
    max-width: 600px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.053em;
    color: #000;
    margin: 91px 15px 80px 36px;

    @media screen and (@breakpoint-ml) {
      font-size: 17px;
      letter-spacing: normal;
    }
  }
}
