@bgcolor: #DBEEEE;
@mainImage: './img/main-image.svg';
@breakpoint-xxl: ~'max-width: 1540px';
@breakpoint-xl: ~'max-width: 1400px';
@breakpoint-lg: ~'max-width: 1200px';
@breakpoint-md: ~'max-width: 1024px';
@breakpoint-sm: ~'max-width: 992px';
@breakpoint-s: ~'max-width: 768px';
@breakpoint-xs: ~'max-width: 576px';
