.interior-demo {
  width: 100%;
  max-width: 867px;
  display: flex;
  position: relative;
  overflow: hidden;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  &__image {
    border-radius: 10px;
    margin: 0;
    width: 100%;
  }

  &__image-dark {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    display: none;

    &_is-active {
      display: block;
    }
  }


  &__lamp {
    position: absolute;
    top: -100px;
    right: 500px;
    max-width: 17%;
    object-fit: contain;

    &[src="https://i.postimg.cc/G2CnB0W3/pngwing-com.png"] {
      top: 0;
    }

    @media screen and (@breakpoint-xl) {
      top: -60px;
      right: 385px;
      max-width: 15%;
    }

    @media screen and (@breakpoint-md) {
      top: -30px;
      right: 300px;
      max-width: 12%;
    }

    @media screen and (@breakpoint-s) {
      top: -10px;
      right: 200px;
      max-width: 12%;
    }
  }

  @media screen and (@breakpoint-xxl) {
    max-width: 820px;
  }

  @media screen and (@breakpoint-xl) {
    max-width: 720px;
  }

  @media screen and (@breakpoint-lg) {
    max-width: 630px;
  }

  @media screen and (@breakpoint-md) {
    max-width: 500px;
  }
}
